html, body { 
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
div{
  position: absolute;
}
.button, .power{
  font-family: 'Pixel';
  color: #111;
  width: 100%;
  margin: 0;
  text-align: center;
}
#ui{
  font-family: 'Digital';
  color: #fff;
  width: 100%;
  margin: 0;
  text-align: center;
}
