html, body { 
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
div{
  position: absolute;
}
#menu button{
  font-family: 'Pixel';
  text-align: center;
  display: block;
}
#ui{
  font-family: 'Digital';
  color: #fff;
  width: 100%;
  text-align: center;
}
